<!doctype html>
<html lang="en" ng-app="ngdemo">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
</head>
<body>
<ul class="menu">
    <li><a href="#/dummy">dummy</a></li>
    <li><a href="#/user-list">user-list</a></li>
    <li><a href="#/user-detail/1">user-detail/1</a></li>
    <li><a href="#/user-creation">user-creation</a></li>
</ul>

<div ng-view></div>
<h1>ngFacebook tests</h1>
<div>
    <h2>Login</h2>
    <button id="login-btn" ng-click="loginToggle()">
        <span ng-if="status">Logout</span>
        <span ng-if="!status">Login</span>
    </button>
    <span ng-if="status" class="message">
        You are <strong>Logged in</strong> as <em>{{user.first_name}} {{user.last_name}}</em>
    </span>
    <span ng-if="!status" class="message">
        You are <strong>not</strong> logged in.
    </span>
</div>
<div ng-show="status">
    <h2>Friends via cachedApi:</h2>
    <button id="friends-btn" ng-click="getFriends()">Get friends</button>
    <div ng-show="friends">
        <h3>List of friends:</h3>
        <ul id="friend-list">
            <li ng-repeat="friend in friends">{{friend.name}}</li>
        </ul>
    </div>

<!-- JQuery ================================================================ -->
<script src="js/jquery/jquery-2.0.3.js"></script>

<!-- Bootstrap ============================================================= -->
<script src="js/bootstrap/bootstrap.js"></script>

<!-- AngularJS ============================================================= -->
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>

<!-- AngularJS App Code ==================================================== -->
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/ngFacebook.js"></script>

</body>
</html>
